{% extends 'base.html' %}
{% block article %}
  <div class="row">
  <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">{{ content|safe }}</div>
  </div>
  <div class="row offset-lg-2 offset-md-1">
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" name="state" value="edit article"/>
      <button class="btn btn-outline-dark font-weight-bold" type="submit">Редактировать</button>
      <a href="/" class="btn">Новая статья</a>
    </form>
  </div>
{% endblock %}