{% extends 'base.html' %}
{% block article %}
      <form method="POST" class="row offset-md-1">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      {% if article_text %}<input type="hidden" name="state" value="save article"/>{% endif %}
        <div class="form-group col-lg-8 col-md-10 offset-lg-2 offset-md-1">
          <input name="title" class="form-control-plaintext title" placeholder="Заголовок..." {% if title %}value="{{ title }}"{% endif %} required autocomplete="off"/>
          <input name="signature" class="form-control-plaintext small" placeholder="Автор" {% if author %}value="{{ author }}"{% endif %}/>
          <textarea name="article" id="editor" class="form-control-plaintext" placeholder="Текст" autocomplete="off"></textarea>
        </div>

        <div class="form-group col-lg-2 my-lg-2 offset-md-1 offset-lg-0">
          <button class="btn btn-outline-dark font-weight-bold" type="submit" onclick="renderHTML()">Опубликовать</button>
          <button type="button" class="btn bg-transparent mt-lg-3" data-toggle="modal" data-target="#exampleModalLong">
            <i class="fa fa-question-circle fa-2x"></i>
          </button>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Форматирование Markdown</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Выделение</h4>
        <pre>
**<strong>Жирный (CTRL+B)</strong>**
*<em>курсив (CTRL+I)</em>*
~~<strike>перечеркнутый (CTRL+H)</strike>~~</pre>
        <h4>Заголовки</h4>
        <pre><h1 id="-"># Большой</h1>
<h2 id="-">## Средний</h2>
<h3 id="-">### Маленький</h3>
<h4 id="-">#### Очень маленький</h4></pre>
        <h4>Списки</h4>
        <pre>
<li>Ненумерованнй элемент</li>
* Ненумерованнй элемент (CTRL+L)
* Ненумерованнй элемент (CTRL+L)
* Ненумерованнй элемент (CTRL+L)

1. Нумерованнй элемент (CTRL+ALT+L)
2. Нумерованнй элемент (CTRL+ALT+L)
3. Нумерованнй элемент (CTRL+ALT+L)</pre>
        <h4>Ссылки (CTRL+ALT+L)</h4>
        <pre>
<a href="http://www.example.com">Текст ссылки</a>
[Текст ссылки](http://www.example.com)
</pre>
        <h4>Цитаты (CTRL+')</h4>
        <pre><blockquote>Это цитата<br>Это вторая строка цитаты</blockquote>
> Это цитата
> Это вторая строка цитаты</pre>
        <h4>Изображения (CTRL+ALT+I)</h4>
        <small>Нужен адрес картинки? <a href="http://imgur.com/" target="_blank">Imgur</a> — бесплатный хостинг изображений</small>
        <pre>
<img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Тектс изображения">
![Тектс изображения](http://www.example.com/image.jpg)</pre>
        <h4>Таблицы</h4>
        <pre><table>
<thead>
<tr>
<th>Колонка 1</th>
<th>Колонка 2</th>
<th>Колонка 3</th>
</tr>
</thead>
<tbody>
<tr>
<td>Дима</td>
<td>Иванов</td>
<td>Мужской</td>
</tr>
<tr>
<td>Марина</td>
<td>Петрова</td>
<td>Женский</td>
</tr>
</tbody>
</table>
| Колонка 1 | Колонка 2 | Колонка 3 |
| --------- | --------- | --------- |
| Дима      | Иванов    | Мужской   |
| Марина    | Петрова   | Женский   |

<em>Или без выравниваняия столбцов...</em>

| Колонка 1 | Колонка 2 | Колонка 3 |
| --------- | --------- | --------- |
| Дима | Иванов | Мужской |
| Марина | Петрова | Женский |</pre>
        <h4>Демонстрация кода</h4><code>var example = "hello!";</code>
<pre><code>var example = "hello!";
alert(example);
</code></pre>
        <pre>`var example = "hello!";`

<em>Если несколько строк...</em>

```
var example = "hello!";
alert(example);
```</pre>
        <p>CTRL+P - предпоказ<br>
          F11 - во весь экран<br>
          F9 - редактирование+предпоказ</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </form>
      {% endblock %}